[tool.poetry]
name = "fds.sdk.utils"
version = "1.1.0"
description = "Utilities for interacting with FactSet APIs."
authors=["FactSet Research Systems"]
license="Apache-2.0"
readme="README.md"
homepage="https://developer.factset.com"
keywords=[
  "FactSet",
  "API",
  "SDK"
]
packages=[
  { include = "fds", from = "src" }
]
exclude=["tests"]

[tool.poetry.dependencies]
python = "^3.7.0"
python-jose = "^3.3.0"
requests-oauthlib = "^1.3.0"
requests = "^2.28.2"
oauthlib = "^3.2.2"

[tool.poetry.dev-dependencies]
pytest = "^7.4"
black = {version = "^23.3", allow-prereleases = true}
pytest-cov = "^4.1.0"
pytest-mock = "^3.11.1"
tox = "^4.8.0"
tox-gh-actions = "^3.2.0"

[tool.black]
line-length = 120

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
